:root {
  color-scheme: dark;
  --clr-health: hsl(120, 37%, 49%);
  --clr-health-bg: hsl(120, 37%, 32%);
  --clr-mana: hsl(200, 100%, 50%);
  --clr-mana-bg: hsl(200, 100%, 32%);
  --clr-xp: hsl(300, 100%, 28%);
  --clr-xp-text: hsl(300, 100%, 43%);
  --clr-xp-bg: hsl(300, 100%, 14%);
  --clr-value: hsl(120, 100%, 70%);
  --clr-gold: gold;
  --clr-item-junk: hsl(0, 0%, 50%);
  --clr-item-common: hsl(0, 0%, 90%);
  --clr-item-uncommon: hsl(120, 100%, 50%);
  --clr-item-rare: hsl(200, 100%, 50%);
  --clr-item-epic: hsl(300, 100%, 50%);
  --clr-item-legendary: hsl(40, 100%, 50%);
  --clr-ui-text: hsl(38, 100%, 75%);
  --clr-ui-border: hsla(14, 19%, 23%, 0.99);
  --ui-border-width: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: var(--clr-ui-text);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

html:-webkit-full-screen .game {
  transform: scale(var(--scale-factor));
}

html:fullscreen .game {
  transform: scale(var(--scale-factor));
}

.junk {
  --clr: var(--clr-item-junk);
}

.common {
  --clr: var(--clr-item-common);
}

.uncommon {
  --clr: var(--clr-item-uncommon);
}

.rare {
  --clr: var(--clr-item-rare);
}

.epic {
  --clr: var(--clr-item-epic);
}

.legendary {
  --clr: var(--clr-item-legendary);
}

.value {
  color: var(--clr-value);
}

.gold {
  color: var(--clr-gold);
}

button {
  cursor: pointer;
  background-image: url("./ui/bg.jpg");
  padding: 0.5em 1em;
  font-family: inherit;
  font-size: 1em;
  color: var(--clr-ui-text);
  border: 2px solid var(--clr-ui-border);
  border-radius: 0.3em;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;
}
button:hover {
  background-color: hsla(38, 50%, 20%, 0.5);
  box-shadow: 0 0 16px 0px rgba(255, 215, 0, 0.1);
  transform: translateY(-1px);
}
button:active {
  transform: translateY(1px);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}
button:focus {
  outline: none;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
  box-shadow: none;
  transform: none;
  filter: grayscale(1);
}

.button-list {
  display: flex;
  gap: 0.25em;
}

.tooltip {
  display: grid;
  gap: 0.5em;
  position: absolute;
  padding: 1em;
  background-image: url("/ui/bg.jpg");
  border: 8px solid var(--clr-ui-border); /* var(--clr, white) */
  border-radius: 4px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  width: -moz-max-content;
  width: max-content;
  min-width: 100px;
  max-width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1000;
  pointer-events: none;
}
.tooltip__header {
  display: flex;
  justify-content: space-between;
}
.tooltip__name {
  font-size: 20px;
  color: var(--clr, white);
}

.window {
  position: absolute;
  background-image: url("/ui/bg.jpg");
  border: var(--ui-border-width) solid var(--clr-ui-border);
  border-radius: 4px;
  z-index: 1000;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
  animation: alternate ease-in-out 0.2s, slideTop 0.3s, opacityIn 0.3s;
}
.window__name {
  padding: 0.5em 1em;
}
.window__tab {
  display: grid;
  gap: 1em;
}
.window__tab-list {
  display: flex;
  margin: -1em -1em 0 -1em;
}
.window__tab-list__item {
  flex: 1;
  padding: 0.5em;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-align: center;
}
.window__tab-list__item:not(.active) {
  border: 0 solid var(--clr-ui-border);
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 0 0 0 4px;
  border-width: 0 var(--ui-border-width) var(--ui-border-width) var(--ui-border-width);
}
.window__tab-list__item:not(.active) + .window__tab-list__item:not(.active) {
  border-left-width: 0;
  border-radius: 0;
}
.window__tab-list__item:not(.active):has(+ .active) {
  border-radius: 0 0 4px 0;
}
.window__tab-list__item:last-child {
  border-right-width: 0;
}
.window__tab-list__item:first-child {
  border-left-width: 0;
}
.window__close {
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: hsla(0, 100%, 50%, 0.4);
  border-left: var(--ui-border-width) solid var(--clr-ui-border);
}
.window__close:hover {
  background-color: hsla(0, 100%, 50%, 0.6);
}
.window__header {
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-bottom: var(--ui-border-width) solid var(--clr-ui-border);
  justify-content: space-between;
}
.window__content {
  padding: 1em;
  display: grid;
  gap: 1em;
}

@keyframes scaleIn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideTop {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideBottom {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */