:root {
    color-scheme: dark;

    --clr-health: hsl(120, 37%, 49%);
    --clr-health-bg: hsl(120, 37%, 32%);
    --clr-mana: hsl(200, 100%, 50%);
    --clr-mana-bg: hsl(200, 100%, 32%);

    --clr-xp: hsl(300, 100%, 28%);
    --clr-xp-bg: hsl(300, 100%, 14%);

    --clr-value: lime;

    --clr-item-junk: hsl(0, 0%, 50%);
    --clr-item-common: hsl(0, 0%, 90%);
    --clr-item-uncommon: hsl(120, 100%, 50%);
    --clr-item-rare: hsl(200, 100%, 50%);
    --clr-item-epic: hsl(300, 100%, 50%);
    --clr-item-legendary: hsl(40, 100%, 50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "MS PGothic";
    width: 100vw;
    height: 100vh;   
    display: grid;
    place-items: center; 
    overflow: hidden;
}

.junk {
    --clr: var(--clr-item-junk);
}

.common {
    --clr: var(--clr-item-common);
}

.uncommon {
    --clr: var(--clr-item-uncommon);
}

.rare {
    --clr: var(--clr-item-rare);
}

.epic {
    --clr: var(--clr-item-epic);
}

.legendary {
    --clr: var(--clr-item-legendary);
}

.value {
    color: var(--clr-value);
}

button {
    cursor: pointer;
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: .5em;
    font-family: inherit;
    font-size: 1em;
    border: 1px solid gray;

    &:hover {
        background-color: rgba(128, 128, 128, 0.5);
    }
}

.button-list {
    display: flex;
    gap: .25em;
}

.window {
	position: absolute;
	background-color: hsla(0, 0%, 0%, 0.5);
	border: 1px solid gray;
	z-index: 1000;
	backdrop-filter: blur(4px);
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);

	&__name {
		padding: .5em 1em;
	}

	&__close {
		cursor: pointer;
		padding: .5em 1em;
		background-color: hsla(0, 100%, 50%, 0.4);
		border-left: 1px solid gray;

		&:hover {
			background-color: hsla(0, 100%, 50%, 0.6);
		}
	}

	&__header {
		display: flex;		
		background-color: hsla(0, 0%, 0%, 0.5);
		border-bottom: 1px solid gray;
		justify-content: space-between;
	}

	&__content {
		padding: 1em;
		display: grid;
		gap: 1em;        
	}
}

@keyframes scaleIn {
	from {
		scale: 0;
	}
	to {
		scale: 1;
	}
}

@keyframes opacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}